body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #BBE2EC;
}

.container {
    width: 500px;
}

.card {
    background-color: #9BB0C1;
}

.btn-primary,
.bg-primary {
    background-color: #51829B !important;
}

.volume-container i {
    color: #51829B;
}

#progress .times,
.card-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.volume-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.volume-container span {
    width: 30px;
}

.list-group .list-group-item {
    cursor: pointer;
    background-color: #9BB0C1;
}

li.playing {
    background-color: aqua;
    color: #fff;
}